@import '/src/styles/variables.scss';

.container-login {
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .logo-login {
        width: 15rem;
    }

    .title-login {
        color: $white;
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
    }

    .button-login {
        background-color: $primary;
        border-radius: 30px;
        padding: 17px 35px;
        border: none;
        text-transform: uppercase;
        color: $white;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.8px;
        transition: background-color 0.5s ease;

        &:hover {
            cursor: pointer;
            background-color: lighten($primary, 10%);
        }
    }
}