.container-time-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    text-wrap-mode: nowrap;

    .time-filter-option {
        color: gray;
        font-weight: bold;

        &:hover {
            color: white;
        }
    }

    .selected {
        color: white;
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}