// Cores
$primary: #1db954; // verde Spotify
$dark-900: #121212;
$light: #b3b3b3;
$white: #ffffff;
$bg-color: #181818;
$bg-color-black: #040306;

// Fontes
$font-family-base: "Circular Std", system, -apple-system, BlinkMacSystemFont, sans-serif;