<nav class="bottom-nav">
  <img src="../../../assets/logo-spotify.png" alt="logo spotify" class="spotify-logo-link">

  <ul>
    <li routerLinkActive="active">
      <a routerLink="/profile" aria-label="Profile">
        <i class="fas fa-user fa-lg"></i>
        <span>Profile</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/top-artists" aria-label="Top Artists">
        <i class="fas fa-microphone fa-lg"></i>
        <span>Top Artists</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/top-tracks" aria-label="Top Tracks">
        <i class="fas fa-music fa-lg"></i>
        <span>Top Tracks</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/recent"  aria-label="Recent">
        <i class="fas fa-clock fa-lg"></i>
        <span>Recent</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/playlists" aria-label="Playlists">
        <i class="fas fa-list fa-lg"></i>
        <span>Playlists</span>
      </a>
    </li>
  </ul>

  <i class="fa-brands fa-github github-logo-link"></i>
</nav>